<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
</ol>

<br/>
<div id="hero"></div>
    <div id="header-statement">

    <h1>Welcome to our small college admin</h1>

    </div>
<%- partial ('partials/statusmessage.ejs') %>
